.tileGroup {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-li-border);
}

@media (min-width: 412px) {
  .tileGroup {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 819px) {
  .tileGroup {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (min-width: 1216px) {
  .tileGroup {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}

.tileButton {
  /* width: 150px;
    height: 50px; */
  letter-spacing: 0.5px;
  /* background-color: #E0314B;
    color: white;
    font-size: 32px;
    border: 1.5px solid #E0314B;
    border-radius: 5px; */
  cursor: pointer;
}

.tileactive {
  background-color: #c264ad;
  border: 1.5px solid rgb(25, 26, 24);
}

.tileqty {
  margin: 1px;
  border-style: solid;
  border-width: 1px;
  min-width: 5px;
  border-radius: 5px;
  position: relative;
  top: -25px;
  left: 0px;
}

button {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}