.tileGroup {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--color-tile-bg);
  align-items: center;

  /* border-style: solid;
  border-width: 1px;
  border-color: var(--color-li-border); */
}



.tileButton {
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 6px;
  padding: 0.4em 1em;
  font-size: 0.8em;
  /* font-weight: 500; */
  font-family: inherit;
  display: table;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-tile);
  background-color: var(--color-tile-bg);
}

.tileactive {
  background-color: var(--color-tile-active);
  border: 1.5px solid rgb(25, 26, 24);
}

.tileqty {
  font-size: 0.8em;
  color: var(--color-tile-qty);
  margin: 1px;
  border-style: solid;
  border-width: 1px;
  min-width: 5px;
  border-radius: 5px;
  position: relative;
  top: -25px;
  left: 2px;
}


.tileButton:hover {
  background-color: var(--color-tile-hover);
  border-color: #646cff;
}

@media (min-width: 412px) {
  .tileGroup {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 819px) {
  .tileGroup {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (min-width: 1216px) {
  .tileGroup {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}